<div style="display:flex ;">
    <div class="search-component">
        <input (ngModelChange)="callSearch()" [(ngModel)]="filter.name" type="text" placeholder="Nombre">
    </div>
    <div class="search-component">
        <mat-form-field appearance="legacy">
            <mat-label>Estado</mat-label>
            <select matNativeControl [(ngModel)]="filter.status" (ngModelChange)="callSearch()">
                <option value="" selected></option>
                <option value="alive">Vivo</option>
                <option value="dead">Muerto</option>
                <option value="unknown">Desconocido</option>
            </select>
        </mat-form-field>
    </div>
    <div class="search-component">
        <input (ngModelChange)="callSearch()" [(ngModel)]="filter.species" type="text" placeholder="Especie">
    </div>
    <div class="search-component">
        <mat-form-field appearance="legacy">
            <mat-label>Género</mat-label>
            <select matNativeControl [(ngModel)]="filter.gender" (ngModelChange)="callSearch()">
                <option value="" selected></option>
                <option value="female">Femenino</option>
                <option value="male">Masculino</option>
                <option value="genderless">Sin género</option>
                <option value="unknown">Desconocido</option>
            </select>
        </mat-form-field>
    </div>

</div>